@mixin breakpoint($size) { // 화면 크기가 변하면, 레이아웃을 바꾸자
    @if $size == tablet { // compile 시 동작
        @media (max-width: 1024px) { // browser에서 동작
            @content; // 안에 넣은 코드 자리
        }
    }

    @if $size == mobile {
        @media (max-width: 768px) {
            @content; // 안에 넣은 코드 자리
        }
    }
}