@use '../abstracts/variables' as v;

header {
    flex: 1;
    padding: v.$space-md;
    
    h1 {
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: v.$space-lg;
    }
}