@use '../abstracts/variables' as v;

main {
    flex: 8.75;
    padding: v.$space-md;
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;

    aside {
        flex: 1;
        padding: v.$space-md;
    }

    article {
        flex: 4;
        padding: v.$space-md;
    }
}