// 사이트 전체 기본 스타일 설정
@use '../abstracts/variables' as v;

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: v.$color-background;
    color: v.$color-text;
}

header {
    color: v.$color-primary;
}

aside {
    color: v.$color-primary;
}

a {
    color: v.$color-primary;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
  color: v.$color-primary;
}

a:hover {
  text-decoration: underline;
}

footer {
    background-color: v.$color-second;
}