// 전역 텍스트 규칙

html {
    font-size: 100%; // 사용자의 브라우저 설정을 존중
}

body {
    line-height: 2;
}

article ul {
    list-style: disc; // list-style-position 아래 적으면 덧쓰인다
    list-style-position: inside;
}

article ol {
    list-style: decimal;
    list-style-position: inside;
}

.site-title {
  font-size: 3rem;
}

.post-title {
  font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}